In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('bps-file.csv',sep=';')
df.head(10)

,﻿nama_variabel,nama_variabel_turunan,nama_tahun,nama_turunan_tahun,data_content,nama_item_vertical_variabel
0,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2021,Tahun,1557530,Jumlah
1,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2021,Tahun,1435624,Bandara Lainnya
2,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2021,Tahun,2582,Batam
3,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2021,Tahun,218,Kualanamu
4,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2021,Tahun,43,Ngurah Rai
5,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2021,Tahun,119063,Soekarno Hatta
6,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2020,Tahun,4052923,Jumlah
7,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2020,Tahun,2221823,Bandara Lainnya
8,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2020,Tahun,295336,Batam
9,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,2020,Tahun,41427,Kualanamu

In [2]:
df.shape

(30, 6)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0              ﻿nama_variabel    30 non-null     object
 1   nama_variabel_turunan        30 non-null     object
 2   nama_tahun                   30 non-null     int64
 3   nama_turunan_tahun           30 non-null     object
 4   data_content                 30 non-null     int64
 5   nama_item_vertical_variabel  30 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.5+ KB

In [4]:
df.columns

Index(['           ﻿nama_variabel', 'nama_variabel_turunan', 'nama_tahun',
       'nama_turunan_tahun', 'data_content', 'nama_item_vertical_variabel'],
      dtype='object')

In [3]:
df = df.set_index(['nama_item_vertical_variabel','nama_tahun'])
df.head()

,,﻿nama_variabel,nama_variabel_turunan,nama_turunan_tahun,data_content
nama_item_vertical_variabel,nama_tahun,,,,
Jumlah,2021,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,Tahun,1557530
Bandara Lainnya,2021,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,Tahun,1435624
Batam,2021,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,Tahun,2582
Kualanamu,2021,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,Tahun,218
Ngurah Rai,2021,Jumlah Kedatangan Wisatawan Mancanegara ke Ind...,Tidak Ada,Tahun,43

In [37]:
index = ('Soekarno Hatta',2017)
jumlah = df.loc[index]['data_content']
jumlah

2749321

In [6]:
df_ = df.pivot_table(index='nama_item_vertical_variabel', columns='nama_tahun', values='data_content')
df_

nama_tahun                       2017      2018      2019     2020     2021
nama_item_vertical_variabel
Bandara Lainnya               3796962   4853089   5255742  2221823  1435624
Batam                         1564717   1887284   1947943   295336     2582
Jumlah                       14039799  15810305  16106954  4052923  1557530
Kualanamu                      246551    229586    244530    41427      218
Ngurah Rai                    5682248   6025760   6239543  1059198       43
Soekarno Hatta                2749321   2814586   2419196   435139   119063

In [4]:
bandara = ['Soekarno Hatta','Ngurah Rai','Kualanamu','Batam','Bandara Lainnya']
tahun = [2017,2018,2019,2020,2021]

bandara_ = []
tahun_ = []
jumlah_ = []
for i in bandara:
    for x in tahun:
        bandara_.append(i)
        tahun_.append(x)
        jumlah_.append(df.loc[(i,x)]['data_content'])

data = zip(bandara_,tahun_,jumlah_)
df_baru = pd.DataFrame(data,columns=['bandara','tahun','jumlah'])
df_baru.head(10)

          bandara  tahun   jumlah
0  Soekarno Hatta   2017  2749321
1  Soekarno Hatta   2018  2814586
2  Soekarno Hatta   2019  2419196
3  Soekarno Hatta   2020   435139
4  Soekarno Hatta   2021   119063
5      Ngurah Rai   2017  5682248
6      Ngurah Rai   2018  6025760
7      Ngurah Rai   2019  6239543
8      Ngurah Rai   2020  1059198
9      Ngurah Rai   2021       43

In [42]:
df_baru.to_csv('jumlah wisman.csv',index=False)

In [5]:
# EKSPOR KE DATABASES
import sqlalchemy

In [13]:
# DATABASE POSTGRESQL

In [11]:


engine = sqlalchemy.create_engine('postgresql://postgres:pass_ps01@127.0.0.1:5432/postgres')
connection = engine.connect()

connection.execute('drop table if exists jumlah_wisman')
connection.execute('create table jumlah_wisman(id int NOT NULL PRIMARY KEY GENERATED ALWAYS AS IDENTITY,bandara VARCHAR(255),tahun INT,jumlah INT)')
df_baru.to_sql('jumlah_wisman',con=connection, if_exists='append',index=False)

In [12]:
test = connection.execute('select * from jumlah_wisman')
for i in test:
    print(i)

(1, 'Soekarno Hatta', 2017, 2749321)
(2, 'Soekarno Hatta', 2018, 2814586)
(3, 'Soekarno Hatta', 2019, 2419196)
(4, 'Soekarno Hatta', 2020, 435139)
(5, 'Soekarno Hatta', 2021, 119063)
(6, 'Ngurah Rai', 2017, 5682248)
(7, 'Ngurah Rai', 2018, 6025760)
(8, 'Ngurah Rai', 2019, 6239543)
(9, 'Ngurah Rai', 2020, 1059198)
(10, 'Ngurah Rai', 2021, 43)
(11, 'Kualanamu', 2017, 246551)
(12, 'Kualanamu', 2018, 229586)
(13, 'Kualanamu', 2019, 244530)
(14, 'Kualanamu', 2020, 41427)
(15, 'Kualanamu', 2021, 218)
(16, 'Batam', 2017, 1564717)
(17, 'Batam', 2018, 1887284)
(18, 'Batam', 2019, 1947943)
(19, 'Batam', 2020, 295336)
(20, 'Batam', 2021, 2582)
(21, 'Bandara Lainnya', 2017, 3796962)
(22, 'Bandara Lainnya', 2018, 4853089)
(23, 'Bandara Lainnya', 2019, 5255742)
(24, 'Bandara Lainnya', 2020, 2221823)
(25, 'Bandara Lainnya', 2021, 1435624)

In [14]:
connection.close()

In [15]:
# DATABASE MYSQL

In [21]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@127.0.0.1:3306/')
connection = engine.connect()

In [27]:
connection.execute('use db_wisman')
connection.execute('drop table if exists jumlah_wisman')
connection.execute('create table jumlah_wisman(bandara VARCHAR(255),tahun INT,jumlah INT)')
df_baru.to_sql('jumlah_wisman',con=connection, if_exists='append',index=False)

In [28]:
test = connection.execute('select * from jumlah_wisman')
for i in test:
    print(i)

('Soekarno Hatta', 2017, 2749321)
('Soekarno Hatta', 2018, 2814586)
('Soekarno Hatta', 2019, 2419196)
('Soekarno Hatta', 2020, 435139)
('Soekarno Hatta', 2021, 119063)
('Ngurah Rai', 2017, 5682248)
('Ngurah Rai', 2018, 6025760)
('Ngurah Rai', 2019, 6239543)
('Ngurah Rai', 2020, 1059198)
('Ngurah Rai', 2021, 43)
('Kualanamu', 2017, 246551)
('Kualanamu', 2018, 229586)
('Kualanamu', 2019, 244530)
('Kualanamu', 2020, 41427)
('Kualanamu', 2021, 218)
('Batam', 2017, 1564717)
('Batam', 2018, 1887284)
('Batam', 2019, 1947943)
('Batam', 2020, 295336)
('Batam', 2021, 2582)
('Bandara Lainnya', 2017, 3796962)
('Bandara Lainnya', 2018, 4853089)
('Bandara Lainnya', 2019, 5255742)
('Bandara Lainnya', 2020, 2221823)
('Bandara Lainnya', 2021, 1435624)

In [29]:
connection.close()

In [30]:
# DATABASE MONGODB

In [37]:
import pymongo

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [38]:
db = client['db_wisman']
collection = db['jumlah_wisman']
df_dict = df_baru.to_dict('records')
collection.insert_many(df_dict)

In [39]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64102dd1723e729d6d7e90b2'), 'bandara': 'Soekarno Hatta', 'tahun': 2017, 'jumlah': 2749321}
{'_id': ObjectId('64102dd1723e729d6d7e90b3'), 'bandara': 'Soekarno Hatta', 'tahun': 2018, 'jumlah': 2814586}
{'_id': ObjectId('64102dd1723e729d6d7e90b4'), 'bandara': 'Soekarno Hatta', 'tahun': 2019, 'jumlah': 2419196}
{'_id': ObjectId('64102dd1723e729d6d7e90b5'), 'bandara': 'Soekarno Hatta', 'tahun': 2020, 'jumlah': 435139}
{'_id': ObjectId('64102dd1723e729d6d7e90b6'), 'bandara': 'Soekarno Hatta', 'tahun': 2021, 'jumlah': 119063}
{'_id': ObjectId('64102dd1723e729d6d7e90b7'), 'bandara': 'Ngurah Rai', 'tahun': 2017, 'jumlah': 5682248}
{'_id': ObjectId('64102dd1723e729d6d7e90b8'), 'bandara': 'Ngurah Rai', 'tahun': 2018, 'jumlah': 6025760}
{'_id': ObjectId('64102dd1723e729d6d7e90b9'), 'bandara': 'Ngurah Rai', 'tahun': 2019, 'jumlah': 6239543}
{'_id': ObjectId('64102dd1723e729d6d7e90ba'), 'bandara': 'Ngurah Rai', 'tahun': 2020, 'jumlah': 1059198}
{'_id': ObjectId('64102dd1723e729d6d7e90bb'), 'bandara': 'Ngurah Rai', 'tahun': 2021, 'jumlah': 43}
{'_id': ObjectId('64102dd1723e729d6d7e90bc'), 'bandara': 'Kualanamu', 'tahun': 2017, 'jumlah': 246551}
{'_id': ObjectId('64102dd1723e729d6d7e90bd'), 'bandara': 'Kualanamu', 'tahun': 2018, 'jumlah': 229586}
{'_id': ObjectId('64102dd1723e729d6d7e90be'), 'bandara': 'Kualanamu', 'tahun': 2019, 'jumlah': 244530}
{'_id': ObjectId('64102dd1723e729d6d7e90bf'), 'bandara': 'Kualanamu', 'tahun': 2020, 'jumlah': 41427}
{'_id': ObjectId('64102dd1723e729d6d7e90c0'), 'bandara': 'Kualanamu', 'tahun': 2021, 'jumlah': 218}
{'_id': ObjectId('64102dd1723e729d6d7e90c1'), 'bandara': 'Batam', 'tahun': 2017, 'jumlah': 1564717}
{'_id': ObjectId('64102dd1723e729d6d7e90c2'), 'bandara': 'Batam', 'tahun': 2018, 'jumlah': 1887284}
{'_id': ObjectId('64102dd1723e729d6d7e90c3'), 'bandara': 'Batam', 'tahun': 2019, 'jumlah': 1947943}
{'_id': ObjectId('64102dd1723e729d6d7e90c4'), 'bandara': 'Batam', 'tahun': 2020, 'jumlah': 295336}
{'_id': ObjectId('64102dd1723e729d6d7e90c5'), 'bandara': 'Batam', 'tahun': 2021, 'jumlah': 2582}
{'_id': ObjectId('64102dd1723e729d6d7e90c6'), 'bandara': 'Bandara Lainnya', 'tahun': 2017, 'jumlah': 3796962}
{'_id': ObjectId('64102dd1723e729d6d7e90c7'), 'bandara': 'Bandara Lainnya', 'tahun': 2018, 'jumlah': 4853089}
{'_id': ObjectId('64102dd1723e729d6d7e90c8'), 'bandara': 'Bandara Lainnya', 'tahun': 2019, 'jumlah': 5255742}
{'_id': ObjectId('64102dd1723e729d6d7e90c9'), 'bandara': 'Bandara Lainnya', 'tahun': 2020, 'jumlah': 2221823}
{'_id': ObjectId('64102dd1723e729d6d7e90ca'), 'bandara': 'Bandara Lainnya', 'tahun': 2021, 'jumlah': 1435624}

In [6]:
# DATABASE SQL SERVER

In [11]:
from sqlalchemy import create_engine
engine = create_engine('mssql+pyodbc://:@LAPTOP-2K58MOR4/master?driver=SQL Server')

In [12]:
df_baru.to_sql('jumlah_wisman',con=engine, if_exists='append',index=False)

In [13]:
query = 'select * from jumlah_wisman'
df_sql_server = pd.read_sql(query, con=engine)
print(df_sql_server)

            bandara  tahun   jumlah
0    Soekarno Hatta   2017  2749321
1    Soekarno Hatta   2018  2814586
2    Soekarno Hatta   2019  2419196
3    Soekarno Hatta   2020   435139
4    Soekarno Hatta   2021   119063
5        Ngurah Rai   2017  5682248
6        Ngurah Rai   2018  6025760
7        Ngurah Rai   2019  6239543
8        Ngurah Rai   2020  1059198
9        Ngurah Rai   2021       43
10        Kualanamu   2017   246551
11        Kualanamu   2018   229586
12        Kualanamu   2019   244530
13        Kualanamu   2020    41427
14        Kualanamu   2021      218
15            Batam   2017  1564717
16            Batam   2018  1887284
17            Batam   2019  1947943
18            Batam   2020   295336
19            Batam   2021     2582
20  Bandara Lainnya   2017  3796962
21  Bandara Lainnya   2018  4853089
22  Bandara Lainnya   2019  5255742
23  Bandara Lainnya   2020  2221823
24  Bandara Lainnya   2021  1435624